requests==2.31.0
pandas==2.0.3
snowflake-connector-python[pandas,secure-local-storage]>=3.13.1,<4.0.0
python-dotenv==1.0.0

# use for dagit deployment
#dagster==1.10.4
#dagit==1.10.4

# use for dagster development
dagster==1.5.13
dagster-webserver==1.5.13

